body {
	margin:0;
	padding:0;
}
#editor-canvas {
	width:560px;
	height:454px;
	margin:auto;
	position: relative;
}
#inner-canvas {
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}
#main-control {
	position: relative;
	z-index: 8;
}
table {
	margin:auto;
}
table.layout-logo {
	/*width:100%;*/
}
table #logo, #icon-section #logo {
	width:100/*px;
	height:100px;
	backgroun*/d:#111;
}
table #title-section h2 {
	margin:0;
	font-family: 'Ubuntu';
}
table #tagline-section p {
	margin:0;
	font-family: 'Ubuntu';
}

#list-favorite {
	margin:auto;
	text-align: center;
	list-style: none;
}
#list-favorite li {
	padding:10px;
	display: inline-block;
	border:1px solid #ccc;
}

#loader {
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	background: #fff;
	display: flex;
	align-items: center;
	z-index: 5;
}
#loader p {
	font-size: 4em;
	text-align: center;
	margin: auto;
}
#wrapper {
	margin:20px 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
	position: relative;
}
#illustration {
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	background-position: bottom center;
	background-size: 100%;
}