<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Scholarship Application Form</title>
	<style>
		#form-scholarship {
			width:50%;
			margin:auto;
			border:1px solid #111;
			padding:10px;
		}
		#form-scholarship input[type="text"], textarea, select {
			width:100%;
		}
		#form-scholarship button {
			width:30%;
			padding:8px;
		}
		#form-scholaship .navigation > div {
			width:49%;
		}
		.navigation {
			width:100%;
		}
	</style>
</head>
<body>
	<div class="preview">
		
	</div>
	
	<div id="form-scholarship">
		<form v-on:submit.prevent="submitForm">		
			<div class="form-1 form" v-if="form.active === 1">
				<table>
					<tr>
						<td>
							Email *
						</td>
						<td>
							{{form.form_1.email}}
						</td>
					</tr>
					<tr>
						<td>
							Fullname *
						</td>
						<td>
							<input type="text" 
								v-model="form.form_1.fullname">
						</td>
					</tr>
					<tr>
						<td>
							Place of Birth *
						</td>
						<td>
							<input type="text" v-model="form.form_1.place_birth">
						</td>
					</tr>
					<tr>
						<td>
							Date of Birth *
						</td>
						<td>
							{{form.form_1.date_birth | formatDate('YY-MM-DD')}}
						</td>
					</tr>
					<tr>
						<td>
							Martial Status
						</td>
						<td>
							{{form.form_1.martial_status}}
						</td>
					</tr>
					<tr>
						<td>
							Gender *
						</td>
						<td>
							<label>
								<input type="radio" v-model="form.form_1.gender" value="Male">
								Male
							</label>
							<label>
								<input type="radio" v-model="form.form_1.gender" value="Female">
								Female
							</label>
						</td>
					</tr>
					<tr>
						<td>
							Religion *
						</td>
						<td>
							<label>
								<input type="radio" v-model="form.form_1.religion" value="Moslem">
								Moslem
							</label>
							<label>
								<input type="radio" v-model="form.form_1.religion" value="Christian">
								Christian
							</label>
							
							<label>							
								<input type="radio" v-model="form.form_1.religion" value="Catholic">
								Catholic
							</label>
							
							<label>
								<input type="radio" v-model="form.form_1.religion" value="Budha">
								Budha
							</label>

							<label>
								<input type="radio" v-model="form.form_1.religion" value="Hindu">
								Hindu
							</label>
						</td>
					</tr>
					<tr>
						<td>
							ID National e-KTP # *
						</td>
						<td>
							<input type="text" v-model="form.form_1.ktp">
						</td>
					</tr>
					<tr>
						<td>
							Kartu Siswa / Nomor Kartu Keluarga *
						</td>
						<td>
							<input type="text" v-model="form.form_1.nik">
						</td>
					</tr>
				</table>
			</div>
			<div class="form-2 form" v-if="form.active === 2">
				<table>
					<tr>
						<td style="width:30%">
							Home Address *
						</td>
						<td>
							<textarea cols="30" rows="3">{{form.form_2.home_address}}</textarea>
						</td>
					</tr>
					<tr>
						<td>Province *</td>
						<td>
							<select v-model="form.form_2.province">
								<option value="">- select -</option>
								<option value="Jakarta">Jakarta</option>
								<option value="Surabaya">Surabaya</option>
								<option value="Bali">Bali</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Zip Code *</td>
						<td>
							<input type="number" v-model="form.form_2.zip">
						</td>
					</tr>
					<tr>
						<td>Home Phone *</td>
						<td>
							<input type="text" v-model="form.form_2.home_phone">
						</td>
					</tr>
					<tr>
						<td>Family Address *</td>
						<td>
							<textarea cols="30" rows="3">{{form.form_2.family_address}}</textarea>
						</td>
					</tr>
					<tr>
						<td>Mobile *</td>
						<td>
							<input type="text" v-model="form.form_2.mobile | phoneFormat">
						</td>
					</tr>
					<tr>
						<td>
							Family Member
						</td>
						<td>
							<table>
								<tr v-for="(fm, index) in form.form_2.fm">
									<td>
										Name <br>
										<input type="text" v-model="fm.name">
									</td>
									<td>
										Relation <br>
										<input type="text" v-model="fm.relation">
									</td>
									<td>
										Age <br>
										<input type="text" v-model="fm.age">
									</td>
									<td>
										Occupation <br>
										<input type="text" v-model="fm.occupation">
									</td>
									<td>
										Living Together <br>
										<select>
											<option value="">- select -</option>
											<option value="yes">Yes</option>
											<option value="no">No</option>
										</select>
									</td>
									<td>
										<a href="" v-on:click.prevent="removeFamilyMember(index)">Delete</a>
										<br>
										<a href="" v-on:click.prevent="addFamilyMember">Add</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div class="form-3 form" v-if="form.active === 3">
				Form 3
			</div>
			
			<table class="navigation">
				<tr>
					<td align="left">
						<button class="reset" 
							v-on:click.prevent="prevForm"
							v-if="form.active !== 1">Prev</button>
					</td>
					<td align="right">
						<button type="submit" v-if="form.total > form.active">Next</button>
						<button type="submit" v-if="form.total === form.active">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<script src="vue.js"></script>
	<script>
		var app = new Vue({
			el:"#form-scholarship",
			data:{
				form:{
					total:3,
					active:1,
					form_1:{
						email:'akasatech@gmail.com',
						fullname: 'Udin',
						place_birth:'Denpasar',
						date_birth:'2017-10-21',
						martial_status:'Single',
						gender:'Male',
						religion:'Moslem',
						ktp:'435464656',
						nik:'3435657'
					},
					form_2:{
						home_address:'Jalan Raya Pemogan',
						province:'Bali',
						zip:8989,
						home_phone:'0213303',
						family_address:'Jalan Raya Pemogan',
						mobile:'0897978945',
						fm:[
							{
								name:'Sukijan',
								relation:'Ayah',
								age:45,
								occupation:'Indonesia'
							}
						]
					}
				},
			},
			methods:{
				submitForm:function(){
					if(this.form.active < this.form.total){
						this.nextForm();
					}
				},
				nextForm:function(){
					var next = this.form.active + 1;
					this.form.active = next;
				},
				prevForm:function(){
					var prev = this.form.active - 1;
					// Prevent index 0
					if(prev !== 0){
						this.form.active = prev;
					}
				},
				addFamilyMember:function(){
					this.form.form_2.fm.push({name:'', relation:'', age:null, occupation:''});
				},
				removeFamilyMember:function(index){

					console.log(this.form.form_2.fm.length);
					if(this.form.form_2.fm.length > 1){
						this.form.form_2.fm.splice(index, 1);
					} else {
						alert("Cannot deleted!");
					}
				}
			},
			filters:{
				phoneFormat:{
					read:function(val){
						return '(62) '+val.slice(1,-1);
					},
					write:function(newval, oldval){
						console.log(newval);
						console.log(oldval);
					}
				}
			}
		});
	</script>
</body>
</html>