<!DOCTYPE html>
<html lang="en">
<meta name="url" content="http://localhost/artiwiz">
<meta name="id_business" content="33">
<meta name="business_name" content="">
<head>
	<meta charset="UTF-8">
	<title>HTML 5 - Latihan Vue</title>
	<style>
		#app:after, .row:after {
			clear: both;
			content: "";
			display: block;
		}
		#color, #editor-logo, #credit {
			min-height: 100px;
			float:left;
			width:33%;
			border:1px solid #ccc;
		}
		.title {
			padding:10px;
			border-bottom: 1px solid #ccc;
			text-align: center;
		}
		.grid-icon {
			width:100%;
		}
		.grid-icon:after {
			clear:both;
			content: '';
			display: block;
		}
		.grid-icon li {
			list-style: none;
			float:left;
			padding:2px;
		}
		.grid-icon li a.icon {
			border-radius: 3px;
			width:100px;
			height:100px;
			display: block;
			border:3px solid #ccc;
			display: flex;
			align-items: center;
		}
		.grid-icon li a.btn-delete {
			background:#ED411D;
			display: block;
			font-size:12px;
			text-align: center;
			color:#fff;
			font-family: 'Ubuntu';
			text-decoration: none;
			padding:5px 0;
			margin-top:2px;
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
		}
		.grid-icon li a img {
			width:50%;
			margin:auto;
			display: block;
		}
/*		.grid-icon li a:focus {
			background: #f8f8f8;
			color:#111;
		}*/
		.active {
			border:3px solid #497CF4!important;
			color:#fff;
			font-family: 'Ubuntu';
		}
		#editor-logo {
		    background-position: center bottom;
		    background-size: 100%;
		}
		#editor-logo .title {
			width:100%;
			height:20px;
		}
		#editor-logo .body {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: 200px;
		}
		#editor-logo img {
			display: block;
			margin:auto;
		}
		#editor-logo .content {
			margin:auto;
		}
		#editor-logo .content h3 {
			text-align: center;
		}
		#editor-logo .footer a {
			width:49%;
			display: block;
			float:left;
			border:1px solid #ccc;
			padding:5px 0;
			text-decoration: none;
			color:#111;
			text-align: center;
			font-family: 'Ubuntu';
		}
		#editor-logo .footer a:hover {
			background: rgba(255,255,255, 0.8);
		}
	</style>
</head>
<body onresize="resizeCanvas()">
	<div id="app">
		{{url}}
		{{currentWidth}}
		{{currentHeight}}
		<input type="text" v-model="name">
		<hr>
		<div class="row">
			<ul class="grid-icon" v-if="logos">
				<li v-for="(logo, index) in logos">
					<a href="" class="icon" v-bind:class="{active : logo.isActive == true}" v-on:click.prevent="selectLogo(logo)">
						<img v-bind:src="logo.icon.icon_path">
					</a>
					<a href="" v-on:click.prevent="deleteLogo(index)" class="btn-delete">
						#{{logo.icon.id_icon}} DELETE 
					</a>
				</li>
			</ul>
		</div>
		<div class="row">
			
		
		<div id="color" v-if="logo_active">
			<div class="title">Color</div>
			<input type="color" v-bind:value="logo_active.color.color_1">
			<input type="color" v-bind:value="logo_active.color.color_2">
			<input type="color" v-bind:value="logo_active.color.color_3">
			<input type="color" v-bind:value="logo_active.color.color_4">
			<input type="color" v-bind:value="logo_active.color.color_5">
			<input type="color" v-bind:value="logo_active.color.color_6">
		</div>
		<div id="editor-logo" v-bind:style="{'background-image':'url('+logo_active.illustration.illustration_path+')'}" v-if="logo_active">
			<div class="title">Editor</div>
			<div class="body" v-bind:style="{
				 
				'height':currentHeight+'px'}">
				<div class="content">				
					<img v-bind:src="logo_active.icon.icon_path" width="100">
					<h3><span v-if="name" v-html="name"></span> <br> Football Club</h3>
				</div>
			</div>
			<div class="footer">
				<a href="" v-on:click.prevent="prevLogo">Prev</a>
				<a href="" v-on:click.prevent="nextLogo">Next</a>
			</div>			
		</div>
		<div id="credit" v-if="logo_active">
			<div class="title">Credit</div>
			<h4>Icon</h4>
			<!-- {{logo_active.icon}} -->
			<h4>Illustration</h4>
			{{logo_active.illustration}}
			<h4>color</h4>
			<!-- {{logo_active.colors}} -->
			<h4>font_title</h4>
			<!-- {{logo_active.font_title}} -->
			<h4>font_tagline</h4>
			<!-- {{logo_active.font_tagline}} -->
		</div>
		</div>
	</div>

	<script src="vue.js"></script>
	<script src="qs.min.js"></script>
	<script src="axios.js"></script>
	<script src="lodash.min.js"></script>
	<script>
		var resizeCanvas = function(){
			app.currentWidth = document.querySelector('#editor-logo .body').offsetWidth;
		}
	</script>
	<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script> 
	<script src="script.js"></script>
</body>
</html>