<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vuejs</title>
	<link rel="stylesheet" href="editor-logo.css">
	<link rel="stylesheet" href="library/nprogress/nprogress.css">
	<script src="library/nprogress/nprogress.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="active.disposition">
		{{active.color}}
		<input type="text" v-model="active.color.colors.color_1" v-if="active.color"
		>
		<color-main></color-main>	
		<input type="text" v-model="title.line_1">
		<input type="text" v-if="title.line_2" v-model="title.line_2">
		<div id="wrapper">
			<div id="illustration" v-if="active.illustration" :style="{'background-image':'url('+active.illustration.illustration_path+')'}">
			</div>	
			<table id="main-control">
				<tr>
					<td><button @click="loadRandom()">Random</button></td>
					<td>
						<button :disabled="active.disposition == 'top'" @click="setDisposition('top')">TOP</button>
						<button :disabled="active.disposition == 'left'" @click="setDisposition('left')">LEFT</button>
						<button :disabled="active.disposition == 'right'" @click="setDisposition('right')">RIGHT</button>
						<button :disabled="active.disposition == 'bottom'" @click="setDisposition('bottom')">BOTTOM</button>
					</td>
				</tr>
			</table>
			<br>
			<editor-logo :layout="active.disposition" :is-loading="isLoading">
			</editor-logo>
			<div id="loader" v-if="isLoading === true">
				<p>
					Loading...				
				</p>
			</div>
		</div>
		 <list-favorite>
		 	
		 </list-favorite>
	</div>
	
	<script type="text/x-template" id="favorite-list-template">
		<div id="list-favorite">
			<ul>
				<li v-for="(logo, index) in logoFavorite">
					<item-favorite :logo="logo">
						
					</item-favorite>
				</li>
			</ul>
		</div>
	</script>
	<script type="text/x-template" id="favorite-item-template">
		<div class="favorite" @click="showId(logo)">
			<img :height="100" :width="100" :src="logo.icon.icon_path" alt="">
		</div>
	</script>

	<script type="text/x-template" id="layout-table-left">
		<table class="layout-top-left">
			<tr>
				<td align="center" class="logo-section">
					
				</td>
				<td align="left" style="padding-left:10px;" class="title-section">
					<div id="title">
						
					</div>
					<div id="tagline">
						<p>
							Lorem ipsum dolor sit amet!
						</p>
					</div>
				</td>
			</tr>
		</table>
	</script>

	<script type="text/x-template" id="icon-template">
		<div id="icon-section">
			<div id="logo">
				<img style="display: block" :src="icon.icon_path" :height="icon.icon_height">
			</div>
		</div>
	</script>

	<script type="text/x-template" id="title-template">
		<div id="title-section">
			<h2>
				{{title.line_1}} 
				<br v-if="title.line_2">
				{{title.line_2}}			
			</h2>
		</div>
	</script>
	
	<script type="text/x-template" id="tagline-template">
		<div id="tagline-section">
			<p>
				Lorem ipsum dolor sit amet!
			</p>
		</div>
	</script>
	
	<!-- editor-logo -->
	<script type="text/template" id="editor-logo-template">
		<div id="editor-canvas">
			
			<div id="inner-canvas">
				<table v-if="layout === 'top'" class="layout-logo layout-top">
					<tr>
						<td align="center">
							<icon-object></icon-object>
						</td>
					</tr>
					<tr>
						<td align="center">
							<title-object :title="title"></title-object>
						</td>
					</tr>
					<tr>
						<td align="center">
							<tagline-object></tagline-object>
						</td>
					</tr>
				</table>
				<table v-if="layout === 'left'" class="layout-logo layout-left">
					<tr>
						<td align="right" style="margin-right: right">
							<icon-object></icon-object>
						</td>
						<td align="left" style="padding-left:10px">
							<title-object :title="title"></title-object>
							<tagline-object></tagline-object>
						</td>
					</tr>
				</table>
				<table v-if="layout === 'right'" class="layout-logo layout-right">
					<tr>
						<td align="right" style="padding-right:10px">
							<title-object :title="title"></title-object>
							<tagline-object></tagline-object>
						</td>
						<td align="left" style="margin-right: right">
							<icon-object></icon-object>
						</td>
					</tr>
				</table>
				<table v-if="layout === 'bottom'" class="layout-logo layout-bottom">
					<tr>
						<td align="center">
							<title-object :title="title"></title-object>
						</td>
					</tr>
					<tr>
						<td align="center">
							<tagline-object></tagline-object>
						</td>
					</tr>
					<tr>
						<td align="center" style="padding:10px;">
							<icon-object></icon-object>
						</td>
					</tr>
				</table>
			</div>

			
		</div>
	</script>

	<script type="text/template" id="color-picker-template">
		<li style="display: inline-block;">
			{{id}}
			<input type="text" v-model="color">	
			
		</li>
	</script>

	<script type="text/template" id="color-main-template">
		<ul v-if="color">
			<color-picker 
				:id="1" 
				:color="color.colors.color_1">
			</color-picker>
			<color-picker
				:id="2" 
				:color="color.colors.color_2">
			</color-picker>
			<color-picker
				:id="3" 
				:color="color.colors.color_3">
			</color-picker>
			<color-picker 
				:id="4" 
				:color="color.colors.color_4">
			</color-picker>
			<color-picker
				:id="5" 
				:color="color.colors.color_5">
			</color-picker>
			<color-picker
				:id="6" 
				:color="color.colors.color_6">
			</color-picker>
		</ul>
	</script>




	<script src="jquery.min.js"></script>
	<script src="qs.min.js"></script>
	<link rel="stylesheet" href="library/spectrum/spectrum.min.css">
	<script src="library/spectrum/spectrum.min.js"></script>
	<script src="vue.js"></script>
	<script src="axios.js"></script>
	<script src="vuex.js"></script>
	<script src="store.js"></script>
	<script src="editor-logo.js"></script>
</body>
</html>